:root {
  --brand-color: #212121;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --text-color-3: rgba(255, 255, 255, 0.6);
  --text-hover-color: #2196f3;
  --brand-background-color: #ffffff;
  --background-color-1: #2f303a;
  --bacground-color-2: #f5f4fa;
  --background-color-3: #e5e5e5;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 400;
  width: 1600px;
  height: 80px;
}
.page-header {
  background-color: var(--brand-background-color);
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web-part-of-logo {
  color: var(--text-hover-color);
}
.header-logo {
  text-decoration: none;
  color: var(--brand-color);
  font-family: 'Raleway';
}

.menu-item {
  text-decoration: none;
  color: var(--brand-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-item {
  text-decoration: none;
  color: var(--text_color_1);
}
.header-logo:hover,
.header-logo:focus,
.menu-item:hover,
.menu-item:focus,
.header-contacts-item:hover,
.header-contacts-item:focus,
.footer-logo:hover,
.footer-logo:focus {
  color: var(--text-hover-color);
}
.title-field-with-button-section {
  width: 1600px;
  height: 600px;
  background-color: var(--background-color-1);
  color: var(--text-color-2);
}

.headline {
  color: var(--text-color-2);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.title {
  width: 696px;
  height: 120px;
}

.button-zamow-usluge {
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-2);
  background-color: var(--text-hover-color);
  border: none;
}
.submenu-button {
  width: 114px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--bacground-color-2);
  border: none;
}

.submenu-button:hover,
.submenu-button:focus {
  color: var(--text-color-2);
  background-color: var(--text-hover-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 3;
  letter-spacing: 0.03em;
}

.description,
.what-we-do-section {
  background-color: var(--brand-background-color);
}
.our-team-section {
  background-color: var(--background-color-2);
}

.our-team {
  font-size: 16px;
  line-height: 1.357;
  letter-spacing: 0.03em;
}

.our-team-item {
  font-weight: 500;
}
.our-team-item-description {
  color: var(--text-color_1);
}

.footer {
  color: var(--text-color-2);
  background-color: var(--background-color-1);
  width: 1600px;
  height: 252px;
  line-height: 1.71;
}
.footer-logo {
  text-decoration: none;
  color: var(--text-color-2);
}
.address-details {
  color: var(--text-color-2);
}
.footer-contacts {
  color: var(--text-color-3);
}
.footer-contacts-item {
  text-decoration: none;
  color: var(--text-color-3);
}
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  color: var(--text-hover-color);
}
.description-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description-subtitle {
  color: var(--text-color-1);
  line-height: 1.71;
  width: 270px;
  height: 75px;
}
.portfolio-page-main {
  background-color: var(--brand-background-color);
}
.portfolio-page-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-page-description-item {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color-1);
}
.portfolio-page-card {
  width: 370px;
  height: 404px;
  background-color: var(--brand-background-color);
}
